body {
    background-image: url('../img/main/background_sample.png');
    background-repeat: no-repeat;
    
}

#topbar{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #4D4D4D;

}

#logo_container{
    position: relative;
    display: inline-block;
    width: auto;
    height: 40px;
    margin: 10px;
    margin-left: 40px;
}




#search_sidebar {
    position : fixed;
    height: 25px;
    width: 280px;
    left : 270px;
    top : 1px;
    z-index: 5;
    opacity: 1;
    padding: 10px 0;
    border-bottom: solid 2px #0e080d;
}

#textfield {
    position: absolute;
    top : 15px;
    left : 25px;
    outline: none;
    height: 30px;
    width: 200px;
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    color: #fff;
}

#search_img {
    margin-top: 13px;
        margin-right: 10px;
    width: 15px;
    height: 15px;
    background-image: url(../img/calender/magnifying-glass.png);
    background-size: contain;
    float: right;
}

#search_submit {
    display: none;
}
