/* todo: 백그라운드 이미지 최적화, */

body {
    background-image: url('../img/main/background_sample.png');
    background-repeat: no-repeat;
    outline : none;
}


/* 회원선택 css 시작 */

#logo_container {
    position: relative;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 100px;
    width: 50%;
    height: auto;
    text-align: center;
}

#logo_container img {
    max-width: 400px
}

#card_container {
    position: relative;
    /* border: 1px solid black; */
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}

#student_container {
    transition: 0.5s;
    position: relative;
    display: inline-block;
    /* border: 1px solid black; */
    margin: 10px;
}
#student_container:hover {
    transition: 0.5s;
    transform: scale(1.08,1.08);
    cursor:pointer;
}
#club_container {
    transition: 0.5s;

    position: relative;
    display: inline-block;
    /* border: 1px solid black; */
    margin: 10px;
}
#club_container:hover {
    transition: 0.5s;
    transform: scale(1.08,1.08);
    cursor:pointer;

}
#school_container {
    transition: 0.5s;

    position: relative;
    display: inline-block;
    /* border: 1px solid black; */
    margin: 10px;
}
#school_container:hover {
    transition: 0.5s;
    transform: scale(1.08,1.08);
    cursor:pointer;

}
#card_container img {
    max-width: 200px;
}


/* 프로필 회원가입 css 시작 */

#profile_container {
    width: 650px;
    height: 500px;
    background-color: #E4E4E4;
    margin: auto;
    margin-top: 50px;
}

#profile_title {
    width: 650px;
    height: 100px;
    background-color: #D7D8D8;
}

#title_container {
    position: relative;
    display: inline-block;
    float: left;
    /* border: 1px solid black; */
    margin-left: 50px;
    margin-top: 25px;
}

#font_register {
    font-size: 50px;
    color: #606060;
}

#step_container {
    position: relative;
    display: inline-block;
    float: right;
    /* border: 1px solid black; */
    margin-top: calc((100px - 45px)/2)
}

.step_input_information {
    position: relative;
    display: inline-block;
    /* border: 1px solid black; */
}

.step {
    position: relative;
    display: inline-block;
    /* border: 1px solid black; */
    margin-right: 50px;
}

.step_number {
    font-size: 15px;
    color: #606060;
}

#step_text_information {
    font-size: 20px;
    color: #606060;
}

#step_text_profile {
    font-size: 20px;
    color: #F10800;
}

#profile_img_container {
    position: relative;
    margin: auto;
    text-align: center;
    top : 50px;
}


/* todo: 동아리 선택 드롭다운박스 커스터마이즈 */


/* todo: 동아리 선택 드롭다운박스 커스터마이즈 후 css 재설정 */

#select_box {
    position: relative;
    display: inline-block;
    float: left;
}

#register_finish_btn {
    float: right;
    margin-right: 80px;
    margin-top: 50px;
}


/* 회원가입 정보입력 부분 시작 */

#profile_content {
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: left;
}

.register_input_field {
    background-color: #E4E4E4;
    border: 0px;
    border-bottom: 1px solid #7D7D7D;
    width: 50%;
    padding-left: 5px;
    margin-bottom: 20px;
    height: 30px;
    outline: none;
}



#input_year {
    background-color: #E4E4E4;
    border: 0px;
    border-bottom: 1px solid #7D7D7D;
    width: 100px;
    height: 30px;
    outline: none;
}

#input_month {
    background-color: #E4E4E4;
    border: 0px;
    border-bottom: 1px solid #7D7D7D;
    width: 100px;
    height: 30px;
    outline: none;
}

#input_day {
    background-color: #E4E4E4;
    border: 0px;
    border-bottom: 1px solid #7D7D7D;
    width: 100px;
    height: 30px;
    outline: none;
}

#fb_register_btn {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 100px;
    font-size: 1rem;
    background: rgba(0,0,0,.5);
    width : 250px;
    height: 50px;
    transition: 0.5s;
    outline : none;
    color : white;
}
#fb_register_btn:hover {
    background-color: #4371ff;
}

#email_id_btn {
    position: absolute;
    float: right;
}

.reg_btn{
    border: 2px solid #333;
    font-size: 0.8rem;
    width : 50px;
    height: 30px;
    transition: 0.2s;
    outline : none;
    color: white;
    background-color: #555;
}

.reg_btn:hover{
    border-color: #555;
    background-color: #333;
}

/*checkbox*/

.autoLogin {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    margin-left: 2px;
    border: solid 1px white;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: left;
    position: relative;
}

.autoLogin label {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    left: 1px;
    top: 1px;
    background: transparent;

}

.autoLogin label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    top: 4px;
    left: 4px;
}

.autoLogin input[type=radio]:checked + label:after {
    color: #fff;
    opacity: 1;
}

.autologin {
    margin-top: -20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.select_club {
    
}
