body {
    background-image: url('../images/background_school.png');
    background-repeat: no-repeat;
    background-size: cover;
    outline : none;
}
#title_container {
    width: 80%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 250px;
}

#title {
    color: white;
    font-size: 5em;
}

#text {
    color: white;
    font: 3em;
}


#login_btn {
    width: 90%;
    height: 70px;
    color: #666;
    font-size: 30px;
    background: transparent;
    padding: 10px 25px 10px 25px;
    border: solid #666 1px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.5s;
}

#login_btn:hover {
    background: #333;
    color: white;
    text-decoration: none;
}
#btn_container {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 100px;
}
