body{
    width:100%;
    background-color: #F0F1F2;
}
html,body{
    margin: 0;
    height:100%;
    width:100%;
}


#topbar {
    position: fixed;
    width: 100%;
    height: 70px;
    background-image: url(../images/background_topbar.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

#logo {
    width: auto;
    height: 70px;
}

.topbar {
    
}

#logo_container {
    
}
